<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script>
    const ROOM_ID = "<%= roomId %>"
  </script>
  <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="script.js" defer></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
  <title>Mooz</title>
  <style>
    body {
      font-family: 'Roboto Condensed', sans-serif;
      background-image: url("bg.jpg");
    }

    #video-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, 300px);
      grid-auto-rows: 300px;

    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: 2px solid red;
    }

    h1 {
      text-align: center;
      font-size: 72px;
      background: -webkit-linear-gradient(#00B0FF, #F50057);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    footer {
      text-align: center;
    }

    /* cool-background 1 */

    position: absolute;
    width: 1281px;
    height: 716px;
    left: -1px;
    top: 1px;



    /* Vector */

    position: absolute;
    left: 59.71%;
    right: -8.75%;
    top: -11.03%;
    bottom: 55.69%;

    background: #FFFA72;


    /* Vector */

    position: absolute;
    left: 17.18%;
    right: -54.5%;
    top: -20.55%;
    bottom: -34.41%;

    background: #652060;


    /* Vector */

    position: absolute;
    left: 20.72%;
    right: -50.69%;
    top: -19.76%;
    bottom: -26.91%;

    background: #602F6A;


    /* Vector */

    position: absolute;
    left: 24.26%;
    right: -46.87%;
    top: -18.97%;
    bottom: -19.4%;

    background: #5C3F73;


    /* Vector */

    position: absolute;
    left: 27.81%;
    right: -43.06%;
    top: -18.17%;
    bottom: -11.89%;

    background: #574F7C;


    /* Vector */

    position: absolute;
    left: 31.35%;
    right: -39.25%;
    top: -17.38%;
    bottom: -4.38%;

    background: #535E85;


    /* Vector */

    position: absolute;
    left: 34.9%;
    right: -35.44%;
    top: -16.59%;
    bottom: 3.13%;

    background: #4F6E8F;


    /* Vector */

    position: absolute;
    left: 38.44%;
    right: -31.62%;
    top: -15.79%;
    bottom: 10.64%;

    background: #4A7E98;


    /* Vector */

    position: absolute;
    left: 41.99%;
    right: -27.81%;
    top: -15%;
    bottom: 18.15%;

    background: #468DA1;


    /* Vector */

    position: absolute;
    left: 45.53%;
    right: -24%;
    top: -14.21%;
    bottom: 25.66%;

    background: #419DAA;


    /* Vector */

    position: absolute;
    left: 49.07%;
    right: -20.19%;
    top: -13.41%;
    bottom: 33.16%;

    background: #3DADB4;


    /* Vector */

    position: absolute;
    left: 52.62%;
    right: -16.37%;
    top: -12.62%;
    bottom: 40.67%;

    background: #38BCBD;


    /* Vector */

    position: absolute;
    left: 55%;
    right: -11.4%;
    top: -8.62%;
    bottom: 44.97%;

    background: #34CCC6;
  </style>
</head>

<body>
  <h1>Mooz</h1>
  <div id="video-grid"></div>
</body>
<footer>Created by 💜 <a href="https://rishabkumar.com/">Rishab.Cloud</a></footer>

</html>